In [50]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/andrewD46/pandas_numpy_tasks/main/data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [51]:
print("В этой таблице {} мужчин и {} женщин.".format(sum(data['sex'] == 'Male'),
                                            sum(data['sex'] == 'Female')))

В этой таблице 21790 мужчин и 10771 женщин.

In [52]:
round(data[["sex", "age"]].groupby(data[data['sex'] == 'Female']['sex']).mean())

         age
sex
Female  37.0

In [53]:
float((data['native-country'] == 'United-States').sum()) / data.shape[0]

0.895857006848684

In [54]:
age1 = data[data['salary'] == '>50K']['age']
age2 = data[data['salary'] == '<=50K']['age']
print("Средний возраст : {0} (>50K) , {1} (<=50K); среднеквадратичные отклонения - {2} (>50K), {3} (<=50K)".format(
    round(age1.mean()), round(age2.mean()),
    round(age1.std(), 1), round(age2.std(), 1)))

Средний возраст : 44 (>50K) , 37 (<=50K); среднеквадратичные отклонения - 10.5 (>50K), 14.0 (<=50K)

In [55]:
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [56]:
grouped_data = data.groupby(['race', 'sex'])
grouped_data['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [57]:
mar_status = [ word for word in data['marital-status'].unique() if word.startswith('Married') ]

arr_marr = data[(data['sex'] == 'Male') &
     (data['marital-status'].isin(mar_status))]['salary'].value_counts()
print(arr_marr)
arr_not_marr = data[(data['sex'] == 'Male') &
     (~data['marital-status'].isin(mar_status))]['salary'].value_counts()
print(arr_not_marr)
print("Богатых среди женатых {0}%".format(round(100 * arr_marr[1]/(arr_marr[0]+arr_marr[1]), 2)))
print("Богатых среди холостых {0}%".format(round(100 * arr_not_marr[1]/(arr_not_marr[0]+arr_not_marr[1]), 2)))

<=50K    7576
>50K     5965
Name: salary, dtype: int64
<=50K    7552
>50K      697
Name: salary, dtype: int64
Богатых среди женатых 44.05%
Богатых среди холостых 8.45%

In [58]:
max_work = data['hours-per-week'].max()
print("Макс. число часов - {0} час./нед.".format(max_work))

num_workers = data[data['hours-per-week'] == max_work].shape[0]
print("Всего людей с таким кол-ом часов {0}".format(num_workers))

per_rich = data[(data['hours-per-week'] == max_work) & (data['salary'] == '>50K')].shape[0] / num_workers
print("Из них богатых {0}%".format(round(100 * per_rich, 2)))

Макс. число часов - 99 час./нед.
Всего людей с таким кол-ом часов 85
Из них богатых 29.41%

In [59]:
data.groupby(['salary', 'native-country']).mean()['hours-per-week']

salary  native-country
<=50K   ?                  40.164760
        Cambodia           41.416667
        Canada             37.914634
        China              37.381818
        Columbia           38.684211
                             ...
>50K    Thailand           58.333333
        Trinadad&Tobago    40.000000
        United-States      45.505369
        Vietnam            39.200000
        Yugoslavia         49.500000
Name: hours-per-week, Length: 82, dtype: float64

In [60]:
bins= [16,35,70,100]
labels = ['young','adult','retiree']
data['age-group'] = pd.cut(data['age'], bins=bins, labels=labels, right=False)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,age-group
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,young
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,adult
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,adult
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,young
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,adult

In [61]:
df = data[['salary']].groupby(data[data['salary'] == '>50K']['age-group']).count()
df

           salary
age-group
young        1488
adult        6240
retiree       113

In [62]:
max_value = df.max()
max_value

salary    6240
dtype: int64

In [89]:
occupation = data[['occupation']].groupby(data['occupation']).count()
occupation

                   occupation
occupation
?                        1843
Adm-clerical             3770
Armed-Forces                9
Craft-repair             4099
Exec-managerial          4066
Farming-fishing           994
Handlers-cleaners        1370
Machine-op-inspct        2002
Other-service            3295
Priv-house-serv           149
Prof-specialty           4140
Protective-serv           649
Sales                    3650
Tech-support              928
Transport-moving         1597

In [85]:
def filter_func(x):
    return x['age'].mean() < 40 and (x['hours-per-week'] > 5).all()
data.filter(filter_func)

TypeError: 'in <string>' requires string as left operand, not function